body{
    background-image: url('./images.jpeg')   ;
}
.titlePage{
    text-align: center; 
}
.description{
    width: 40%;
    height: 40%;
    margin-top:-37%;
    border: outset;
    padding:25px;
}
.imgCalendar{
    width: 50%;
    height: 60%;
    margin-left:45%;
}

